<!DOCTYPE html>
<html>
<head>
  <title>POS App</title>
  <link rel="stylesheet" href="/styles-index.css">
</head>
<body>
  <h1>Daftar Produk</h1>
  <ul>
    <% products.forEach(product => { %>
      <li>
        <%= product.name %> - $<%= product.price %>
        <form action="/add-to-cart/<%= product.id %>" method="get">
          <label for="quantity">Jumlah:</label>
          <input type="number" id="quantity" name="quantity" value="1" min="1">
          <button type="submit">Tambahkan ke Keranjang</button>
        </form>
      </li>
    <% }); %>
  </ul>

  <h2>Keranjang Belanja</h2>
  <ul>
    <% cartItems.forEach(item => { %>
      <li><%= item.name %> - $<%= item.price %></li>
    <% }); %>
  </ul>
  <p>Total: $<%=total%></p> <!-- Perbarui baris ini -->
</body>
</html>
